<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'testApp/base.html'%}
    {%block body_block%}
        <h1>{{company.name}} Information</h1>
        <ol>
            <h2><li>Company Name is {{company.name}}</li></h2>
            <h2><li>Company location is {{company.location}}</li></h2>
            <h2><li>Company ceo is {{company.ceo}}</li></h2>
        </ol>

        <a href="/company">Home</a>
        <a href="/insert">Insert Record</a>
        <a href="/update/{{company.id}}">Update Record</a>
        <a href="/delete/{{company.id}}">Delete Record</a>
    {%endblock%}
</body>
</html>