{% extends 'testApp/base.html' %}

{% block body_block %}
<div class="min-h-screen bg-gradient-to-r from-blue-400 to-purple-500 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-4xl font-bold mb-4 text-center text-blue-600">{{ company.name }} Information</h1>
        <ul class="list-disc list-inside text-lg">
            <li class="mb-2 text-xl font-semibold">Company Name: {{ company.name }}</li>
            <li class="mb-2 text-xl font-semibold">Company Location: {{ company.location }}</li>
            <li class="mb-2 text-xl font-semibold">Company CEO: {{ company.ceo }}</li>
        </ul>
        <hr class="my-4">
        <div class="flex justify-center space-x-4">
            <a href="/company" class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md shadow">Home</a>
            <a href="/insert" class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md shadow">Insert Record</a>
            <a href="/update/{{ company.id }}" class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md shadow">Update Record</a>
            <a href="/delete/{{ company.id }}" class="text-white bg-red-500 hover:bg-red-600 px-4 py-2 rounded-md shadow">Delete Record</a>
        </div>
    </div>
</div>
{% endblock %}
