<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kunal Joshi Shopping Application</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-8">Kunal Joshi Shopping Application</h1>

      <div class="space-x-4">
        <a href="/additem" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Item</a>
        <a href="/displayitem" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Display Item</a>
        
      </div>
    </div>
  </div>
</body>

</html>
