<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'testApp/base.html'%}
        {%block body-block%}
        <h1>Average Salary of employee {{avg1}}</h1>
        <h1>Maximum Salary of employee {{avg2}}</h1>
        <h1>Minimum Salary of employee {{avg3}}</h1>
        <h1>Total Salary of employees {{avg4}}</h1>
        <h1>Count of employee {{avg5}}</h1>
        {% endblock %}
        
</body>
</html>